/* CSS Reset */

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
}


/* General Styles */

body {
    background-color: #333;
    text-align: center;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}

#search-button,
#search-box,
#results li img {
    -webkit-box-shadow: 0px 3px 2px 3px rgba(41, 41, 41, 0.8);
    -moz-box-shadow: 0px 3px 2px 3px rgba(41, 41, 41, 0.8);
    box-shadow: 0px 3px 2px 3px rgba(41, 41, 41, 0.8);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}


/* Header Styles */

header {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 90px;
    line-height: 90px;
    white-space: nowrap;
    text-align: center;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
}

header h1 {
    margin: 0;
    font-weight: 300;
    font-size: 2.75rem;
}

.logo-text img {
    vertical-align: middle;
    width: 9.375rem;
}

#search-box {
    width: 40%;
    padding: 1rem;
    color: #000;
}

input[type="text"] {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.25rem;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

#search-button {
    padding: 0.75rem 1.25rem 0.75rem 1.25rem;
    margin-left: 1.25rem;
    color: #fff;
    background-color: #666;
    font-size: 1.25rem;
}


/* Body Styles */

ul,
ol {
    list-style-type: none;
}

#results {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-top: 3rem;
}

#results li {
    width: 33.3%;
    padding: 1rem;
    display: inline-block;
    margin-bottom: 0.75rem;
    vertical-align: top;
}

#results li img {
    width: 100%;
    border: 2px solid #fff;
}

#results h3 {
    font-weight: 300;
    padding-top: 0.5rem;
    letter-spacing: 0.06rem;
}


/* Responsive Styles */

@media only screen and (max-width: 768px) {
    header {
        width: 75%;
    }
    #search-box {
        width: 70%;
    }
    #search-button {
        margin-left: 1rem;
    }
    #results {
        width: 90%;
    }
    #results li {
        width: 50%;
    }
}

@media only screen and (max-width: 480px) {
    header {
        width: 75%;
    }
    #input {
        margin-left: 0.25rem;
        margin-right: 0.25rem;
    }
    #search-box {
        width: 70%;
    }
    #search-button {
        margin-left: 0.5rem;
    }
    #results {
        width: 90%;
    }
    #results li {
        width: 100%;
    }
}
